<!DOCTYPE html>
<html>
  <title>Cancelled subscription!</title>
  <meta name="author" content="Faure Hu">
  <meta name="description" content="Subscription cancelled">
  <meta name="charset" content="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE Edge">
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <link href="/assets/confirmed.css" rel="stylesheet" />
<head>
</head>
<body>
  <p>
    You have cancelled your subscription succesfully 😑
    Click <a href="/">here</a> to go to my homepage 👋
  </p>
</body>
</html>
