<!DOCTYPE html>
<html>
  <title>Confirmed subscription!</title>
  <meta name="author" content="Faure Hu">
  <meta name="description" content="Confirmation page">
  <meta name="charset" content="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE Edge">
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <link href="/assets/confirmed.css" rel="stylesheet" />
<head>
</head>
<body>
  <p>
    ✨ Thanks for subscribing 🎉! You can always hit the reply button 😀
    Click <a href="www.faure.hu">here</a> to go to my homepage 👋
  </p>
</body>
</html>
