doctype html
html(class=" js csstransitions")
    head
        title The Grid
        meta(http-equiv="X-UA-Compatible", content="IE Edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", type="text/css" href="./assets/normalize.css")
        link(rel="stylesheet", type="text/css" href="./assets/mallki.css")
        link(rel="stylesheet", type="text/css" href="./assets/style.css")
        link(rel="stylesheet", type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata|Share:700|Chivo")
    body
        #container
        script(src='https://w.soundcloud.com/player/api.js')
        script(src="./assets/bundle.js")
        script(src="./assets/app.js")
        
