doctype html
html
    head
        title title
        meta(http-equiv="X-UA-Compatible", content="IE Edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", type="text/css", href="/assets/normalize.css")
        link(rel="stylesheet", type="text/css", href="/assets/octicons/octicons.css")
        link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Chivo")
        link(rel="stylesheet", type="text/css", href="/assets/style.css")
    body
        .header
            a(href="/")
                span.mega-octicon.octicon-home
                    .title-div Home
        .content
            .postHeader
                h1.postTitle How I fell in love with Blogging. Two more words.
                h2.postSubtitle Ten words to test the subtitles
                span November 1st 2015
            .markdown
            .postFooter
                p.
                    Faure is a Computer Science with Management student at King's College London.
                    He's studying Artificial Intelligence and blogs mostly about it. Occassionally will write about
                    his media induced paranoia.
                    Got something to say? Feel free to #[a(href="https://twitter.com/intent/tweet?text=Hi @faurehu, here's what I thought about www.google.com:") tweet].
