@import './globals.css.scss';

.card {
  @include shadow-helper(2);
  background-color: $white;
  cursor: pointer;
  font-family: 'Chivo', sans-serif;
  margin: 10px;

  &:hover {
    @include shadow-helper(3);
  }

  .card-header {
    background-color: $teal-100;
    color: $dark-blue;
    padding: 5px;
    text-align: center;

    h1 {
      margin: 0;
    }

    h2 {
      margin: 0;
      margin-top: 5px;
    }
  }

  .card-bottom {
    @include shadow-helper(1);

    p {
      margin-bottom: 0;
      margin-top: 0;
      padding: 5px;
    }
  }
}

.instagram-card {
  width: 400px;
}

.blog-card {
  @media screen and (min-width: 800px) {
    width: 300px;
  }
}

.twitter-card {
  width: 400px;

  .card-header {
    color: $dark-blue;
    font-size: 1.2em;
    padding: 0;
    position: relative;

    img {
      display: inline;
      vertical-align: top;
      width: 100%;
    }

    .gradient-image {
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      bottom: 0;
      color: $white;
      height: 50px;
      left: 0;
      line-height: 50px;
      position: absolute;
      width: 100%;
    }
  }
}

.image-card {

  img {
    max-width: 400px;
    vertical-align: top;
  }
}

.pocket-card {
  width: 300px;
}

.github-card {
  width: 300px;

  h1 {
    word-wrap: break-word;
  }

  .card-bottom {
    .language {
      color: $teal-700;
    }
  }
}

.soundcloud-card {
  position: relative;
  width: 300px;

  img {
    vertical-align: top;
  }

  .soundcloud-titles {
    @include shadow-helper(1);
    display: inline;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 200px;

    p {
      margin-bottom: 5px;
      margin-left: 5px;
      margin-top: 5px;
      word-wrap: break-word;
    }

    .title {
      color: $teal-700;
    }
  }
}

.youtube-card {

  img {
    vertical-align: top;
  }

  .card-bottom {
    padding: 5px;

    h2 {
      margin: 0;
    }
  }
}
