@import './colors.css.scss';
@import './globals.css.scss';

.card {
  @include shadow-helper(1);
  background-color: #fff;
  font-family: 'Chivo', sans-serif;
  margin: 10px;

  .card-header {
    padding: 5px;
    background-color: $teal-100;
    text-align: center;
    color: $dark-blue;

    h1 {
      margin: 0;
    }

    h2 {
      margin-top: 5px;
      margin: 0;
    }
  }

  .card-bottom {
    @include shadow-helper(1);

    p {
      margin-bottom: 0;
      margin-top: 0;
      padding: 5px;
    }
  }
}

.instagram-card {
  max-width: 400px;
  border: 2px solid $blue-grey;
  margin: 5px;
}

.blog-card {

  @media screen and (min-width: 800px) {
    width: 300px;
  }
}

.twitter-card {

  width: 328px;

  .card-header {

    color: $dark-blue;

    img {
      max-width: 300px;
      border: 2px solid $dark-blue;
    }
  }
}

.image-card {
  position: relative;
  img {
    max-width: 400px;
    vertical-align: top;
  }
  h1 {
    position: absolute;
    bottom: 0;
  }
}

.pocket-card {
  width: 300px;
}

.github-card {
  width: 300px;

  h1 {
    word-wrap: break-word;
  }
}

.soundcloud-card {
  width: 300px;
  position: relative;

  .soundcloud-titles {
    padding: 10px;
    max-width: 180px;
    display: inline;
    position: absolute;

    span {
      word-wrap: break-word;
    }
  }
}
