$pastel-background: #edf3fc;
$dark-blue: rgba(#333334, 0.89);
// $light-blue: rgba(#336f9c, 1);
$blue-grey: rgba(#52595c, 0.1);
$border-grey: rgba(#14347c, 0.4);
$column-background: #edf3fc;
$card-header: rgba(#d7e4f9, 0.92);
$social-icons-color: rgba(#14347c, 0.4);
$social-icons-color-hover: rgba(#14347c, 0.82);
