.column {

  width: 100%;
  float: left;
  height: 100%;
  overflow-x: scroll;
  position: relative;

  .column-header {
    display: none;
    position: absolute;
    z-index: 10;

    @media screen and (min-width: 800px) {
      display: block;
    }
  }

  .column-content {
    height: 100%;
    overflow-x: scroll;
  }

  @media screen and (min-width: 800px) {
    width: 250px;
  }
}

.desktop-column {
  display: none;

  @media screen and (min-width: 800px) {
    display: block;
  }
}
