@import './globals.css.scss';

.column {
  background-color: $background-grey;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  width: 100%;

  .column-content {
    height: 100%;
    overflow-x: hidden;

    .column-title {
      color: $column-title-color;
      display: hidden;
      font-family: 'Chivo', sans-serif;
      font-size: 1em;
      margin: 5px;
      text-align: center;

      @media screen and (min-width: 800px) {
        display: block;  
      }
    }

    .reload-div {
      margin: 20px;

      h2 {
        color: $column-title-color;
        font-family: 'Chivo', sans-serif;
        font-size: 1em;
        margin: 5px;
        text-align: center;
      }

      .reload-click:hover {
        color: $light-blue;
      }
    }
  }
}

.soundcloud-column {
  .column-header {
    margin-top: 5px;

    iframe {
      @include shadow-helper(2);
      display: block;
      margin-left: auto;
      margin-right: auto;

      &:hover {
        @include shadow-helper(3);
      }
    }
  }
}
