$pastel-background: #ecf0f1;
$dark-blue: #263238;
$light-blue: #2980b9;
$blue-grey: #CFD8DC;

::-webkit-scrollbar {
    display: none;
}

.grid-container {
    height: 100%;

    .grid-sidebar {
      position: fixed;
      width: 100%;
      -moz-transition: width 0.3s;
      -webkit-transition: width 0.3s;
      transition: width 0.3s;
      height: 155px;
      border-bottom: 4px solid #607D8B;
      background-color: $pastel-background;
      z-index: 20;

      .link-limiter {
          max-width: 292px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 15px;
          display: block;
          text-align: center;

          .link--mallki {
              color: $light-blue;
              text-shadow: 2px 2px 1px $dark-blue;
              transition: color 0.5s 0.25s, text-shadow 0.5s 0.25s;
              font-size: 4.5em;
              font-family: 'Share', cursive;

              &:hover {
                  transition: none;
                  color: transparent;
                  text-shadow: none;

                  &::before {
                      visibility: visible;
                  }
              }

              &::before {
                  visibility: hidden;
                  background: $dark-blue;
              }

              span::before {
                color: $light-blue;
                text-shadow: 2px 2px 1px $dark-blue;
              }
          }

          @media screen and (min-width: 800px) {
            margin-top: 90px;
            max-width: none;
            margin-left: 0px;
            -moz-transition: margin-left 0.3s;
            -webkit-transition: margin-left 0.3s;
            transition: margin-left 0.3s;
            margin-right: 0px;

            .link--mallki {
              font-size: 5.6em;
            }
          }
      }

      .header-image {
        display: none;

        @media screen and (min-width: 800px) {
          display: block;
          width: 100%;
          margin-top: 10px;
          margin-left: 0;
          -moz-transition: margin-left 0.3s;
          -webkit-transition: margin-left 0.3s;
          transition: margin-left 0.3s;
          text-align: center;

          img {
            height: 200px;
            border-radius: 50%;
            width: 200px;
            border: 4px solid $dark-blue;
          }
        }
      }

      .subs {
        display: none;

        h1 {
          text-align: center;
          color: $dark-blue;
          font-family: 'Inconsolata', sans-serif;
          font-size: 1.5em;
        }

        @media screen and (min-width: 800px) {
          display: block;
          margin-left: 0;
          -moz-transition: margin-left 0.3s;
          -webkit-transition: margin-left 0.3s;
          transition: margin-left 0.3s;
        }
      }

      .toggler-container {
        height: 100%;
        position: absolute;
        right: 5px;
        top: 0;
        display: none;

        &::before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }

        .toggle-button {
          display: inline-block;
          -moz-transition: transform 0.3s;
          -webkit-transition: transform 0.3s;
          transition: transform 0.3s;
        }

        @media screen and (min-width: 800px) {
          display: inline;
        }
      }

      .contact-links {
          margin-top: 5px;
          width: 250px;
          margin-left: auto;
          -moz-transition: margin-left 0.3s;
          -webkit-transition: margin-left 0.3s;
          transition: margin-left 0.3s;
          margin-right: auto;
          text-align: center;
          a {
              margin-left: 2px;
              margin-right: 2px;

              &:hover, &:visited, &:active, &:link {
                  color: #607D8B;
                  text-shadow: 2px 2px 1px $dark-blue;
              }
          }

          @media screen and (min-width: 800px) {
            position: absolute;
            width: 100%;
            bottom: 20px;
            margin-left: 0px;
            margin-right: 0px;
            -moz-transition: margin-left 0.3s;
            -webkit-transition: margin-left 0.3s;
            transition: margin-left 0.3s;

            a {
              margin-left: 5px;
              margin-right: 5px;

              &:hover {
                color: $light-blue;
              }
            }
          }
      }

      @media screen and (min-width: 800px) {
        position: fixed;
        width: 350px;
        height: 100%;
        border-right: 4px solid #607D8B;
      }
    }

    .collapsed-sidebar {
      @media screen and (min-width: 800px) {
        width: 40px;
        -moz-transition: width 0.3s;
        -webkit-transition: width 0.3s;
        transition: width 0.3s;


        .link-limiter,
        .subs,
        .header-image,
        .contact-links {
          margin-left: -342px;
          -moz-transition: margin-left 0.3s;
          -webkit-transition: margin-left 0.3s;
          transition: margin-left 0.3s;
        }

        .toggler-container {
          .toggle-button {
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            -moz-transition: transform 0.3s;
            -webkit-transition: transform 0.3s;
            transition: transform 0.3s;
          }
        }
      }
    }

    .firefox-sidebar {
      height: 100%;

      .link-limiter {
        margin-top: 80px;
      }

      .subs {
        display: block;

        h1 {
          font-size: 1.3em;
        }
      }

      .firefox-message {
        position: absolute;
        width: 100%;
        bottom: 80px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        color: $dark-blue;
        font-family: 'Inconsolata', sans-serif;
      }

      .contact-links {
        position: absolute;
        width: 100%;
        bottom: 20px;
      }

      @media screen and (min-width: 800px) {
        width: 100%;
      }
    }

    .grid-content {
      width: 100%;
      height: 100%;
      padding-top: 145px;

      table {
        width: 100%;
        height: 100%;

        tr {
          vertical-align: top;

          td {
            @media screen and (min-width: 800px) {
              width: 250px;
              min-width: 250px;
            }
          }

          .desktop {
            display: none;

            @media screen and (min-width: 800px) {
              display: table-cell;
            }
          }
        }
      }

      @media screen and (min-width: 800px) {
        margin-left: 360px;
        -moz-transition: margin-left 0.3s;
        -webkit-transition: margin-left 0.3s;
        transition: margin-left 0.3s;
        padding-top: 0px;
        height: 100%;
      }
    }

    .collapsed-content {

      @media screen and (min-width: 800px) {
        margin-left: 50px;
        -moz-transition: margin-left 0.3s;
        -webkit-transition: margin-left 0.3s;
        transition: margin-left 0.3s;
      }
    }
}
