@import './globals.css.scss';

body,
html {
  height: 100%;
}

#container {
  height: 100%;
}


::-webkit-scrollbar {
  display: none;
}

.grid-container {
  height: 100%;

  .grid-sidebar {
    @include shadow-helper(3);
    background-color: $teal-500;
    height: 155px;
    position: fixed;
    -moz-transition: width .3s;
    -webkit-transition: width .3s;
    transition: width .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    width: 100%;
    z-index: 20;

    .link-limiter {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      max-width: 292px;
      text-align: center;

      .link--mallki {
        color: $white;
        font-family: 'Share', cursive;
        font-size: 4.5em;
        text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
        transition: color .5s .25s, text-shadow .5s .25s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;

        &:hover {
          color: transparent;
          text-shadow: none;
          transition: none;

          &::before {
            visibility: visible;
          }
        }

        &::before {
          background: $teal-700;
          visibility: hidden;
        }

        span::before {
          color: $white;
          text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
        }
      }

      @media screen and (min-width: 800px) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 90px;
        max-width: none;
        -moz-transition: margin-left .3s;
        -webkit-transition: margin-left .3s;
        transition: margin-left .3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;

        .link--mallki {
          font-size: 5.6em;
        }
      }
    }

    .header-image {
      display: none;

      @media screen and (min-width: 800px) {
        display: block;
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
        -moz-transition: margin-left .3s;
        -webkit-transition: margin-left .3s;
        transition: margin-left .3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        width: 100%;

        img {
          @include shadow-helper(2);
          border-radius: 50%;
          height: 200px;
          width: 200px;

          &:hover {
            @include shadow-helper(3);
          }
        }
      }
    }

    .subs {
      display: none;

      h1 {
        color: $white;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
      }

      @media screen and (min-width: 800px) {
        display: block;
        margin-left: 0;
        -moz-transition: margin-left .3s;
        -webkit-transition: margin-left .3s;
        transition: margin-left .3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
    }

    .toggler-container {
      color: $white;
      display: none;
      height: 100%;
      position: absolute;
      right: 5px;
      top: 0;

      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      .toggle-button {
        display: inline-block;
        text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
        -moz-transition: transform .3s;
        -webkit-transition: transform .3s;
        transition: transform .3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;

        &:hover {
          text-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
        }
      }

      @media screen and (min-width: 800px) {
        display: inline;
      }
    }

    .contact-links {
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      text-align: center;
      -moz-transition: margin-left .3s;
      -webkit-transition: margin-left .3s;
      transition: margin-left .3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      width: 250px;

      a {
        margin-left: 2px;
        margin-right: 2px;

        &:hover,
        &:visited,
        &:active,
        &:link {
          color: $white;
          text-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
        }
      }

      @media screen and (min-width: 800px) {
        bottom: 20px;
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        -moz-transition: margin-left .3s;
        -webkit-transition: margin-left .3s;
        transition: margin-left .3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        width: 100%;

        a {
          margin-left: 5px;
          margin-right: 5px;

          &:hover {
            text-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
          }
        }
      }
    }

    @media screen and (min-width: 800px) {
      height: 100%;
      position: fixed;
      width: 350px;
    }
  }

  .collapsed-sidebar {

    @media screen and (min-width: 800px) {
      -moz-transition: width .3s;
      -webkit-transition: width .3s;
      transition: width .3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      width: 40px;


      .link-limiter,
      .subs,
      .header-image,
      .contact-links {
        margin-left: -342px;
        -moz-transition: margin-left .3s;
        -webkit-transition: margin-left .3s;
        transition: margin-left .3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }

      .toggler-container {
        .toggle-button {
          -ms-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          -moz-transition: transform .3s;
          -webkit-transition: transform .3s;
          transition: transform .3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }
      }
    }
  }

  .firefox-sidebar {
    height: 100%;

    .link-limiter {
      margin-top: 80px;
    }

    .subs {
      display: block;

      h1 {
        font-size: 1.3em;
      }
    }

    .firefox-message {
      bottom: 80px;
      color: $dark-blue;
      font-family: 'Inconsolata', sans-serif;
      margin-left: 5px;
      margin-right: 5px;
      position: absolute;
      text-align: center;
      width: 100%;
    }

    .contact-links {
      bottom: 20px;
      position: absolute;
      width: 100%;
    }

    @media screen and (min-width: 800px) {
      width: 100%;
    }
  }

  .grid-content {
    height: 100%;
    padding-top: 155px;
    width: 100%;

    table {
      height: 100%;
      width: 100%;

      tr {
        vertical-align: top;

        td {
          @media screen and (min-width: 800px) {
            min-width: 250px;
            width: 250px;
          }
        }

        .desktop {
          display: none;

          @media screen and (min-width: 800px) {
            display: table-cell;
          }
        }
      }
    }

    @media screen and (min-width: 800px) {
      height: 100%;
      margin-left: 350px;
      padding-top: 0;
      -moz-transition: margin-left .3s;
      -webkit-transition: margin-left .3s;
      transition: margin-left .3s;
    }
  }

  .collapsed-content {

    @media screen and (min-width: 800px) {
      margin-left: 40px;
      -moz-transition: margin-left .3s;
      -webkit-transition: margin-left .3s;
      transition: margin-left .3s;
    }
  }
}
