@import './globals.css.scss';

.header {
    @include shadow-helper(3);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    // background-color: #ecf0f1;
    background-color: $teal-500;
    // border-bottom: 4px solid #34495e;

    a {

        &:link, &:visited, &:hover, &:active {
            text-decoration: none;
            text-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
            color: $white;
        }

        &:hover {
          text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
        }

        span {
            margin-left: 8px;
            line-height: 50px;
        }

        .title-div {

            display: inline;
            height: 100%;
            font-family: 'Proxima', sans-serif;
            margin-left: 5px;
            line-height: 50px;
            font-size: 0.8em;

            @media screen and (max-width: 420px) {
                display: none;
            }
        }

    }
}

.content {
    max-width: 800px;
    margin: auto;

    .postHeader {
        background-color: #ecf0f1;
        padding: 60px 5px 0 5px;
        font-family: 'Proxima', sans-serif;
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: 5px solid $teal-700;
        margin-top: 0;

        .postTitle {
            // color: #336E7B;
            color: $teal-700;
            text-align: center;
            margin-bottom: 0;
            margin-top: 0;
            font-size: 4em;
            text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);

            @media screen and (max-width: 414px) {
              font-size: 2em;
            }
        }

        .postSubtitle {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 2em;

            @media screen and (max-width: 414px) {
              font-size: 1.2em;
            }
        }

        span {
          margin-bottom: 5px;

          @media screen and (max-width: 414px) {
            font-size: 0.8em;
          }
        }

        @media screen and (max-width: 414px) {
          margin-left: 0;
          margin-right: 0;
        }
    }

    .markdown {
      margin-left: 15px;
      margin-right: 15px;
      font-family: 'Proxima', sans-serif;
      text-align: justify;
      font-size: 1.5em;

      @media screen and (max-width: 414px) {
        font-size: 1em;
      }

      a {
        &:link, &:visited, &:hover, &:active {
            text-decoration: none;
            color: #3498db;
        }
      }

      h3, h2, h1 {
        color: $teal-700;
        border-bottom: 2px solid;
      }

      p > strong {
        color: $teal-700;
      }

      .quote {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.8em;
        text-align: center;
        font-style: italic;
        font-family: 'Cardo', serif;
      }

      .reference {
        padding-left: 20px;
        border-left: 4px solid #336E7B;
      }

      .caption {
        margin-top: -15px;
        font-size: small;
        text-align: center;
      }

      code {
        @include shadow-helper(2);
        border: 1px solid $teal-700;
        border-radius: 10px;
        font-size: .7em;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        margin-bottom: 24px;

        @media screen and (max-width: 600px) {
          max-width: 300px;
        }
      }

      img {
        @include shadow-helper(2);
        max-width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
      }
    }

    .share {
      margin-left: 5px;
      position: relative;

      .fb-share-button {
        position: absolute;
        left: 60px;
        top: 0;
      }
    }

    .postFooter {

        border-top: 5px solid $teal-700;
        background-color: #ecf0f1;
        padding-bottom: 5px;
        margin: 5px;
        margin-bottom: 0;

        p {
            font-family: 'Proxima', sans-serif;
            text-align: justify;
            margin: 10px;
            font-size: 1.5em;

            a {
                 color: #3498db;

                 &:link, &:visited, &:hover, &:active {
                      text-decoration: none;
                 }
            }
        }

        .input {
          margin: 10px;
          box-sizing: border-box;
          font-family: 'Proxima', sans-serif;
          padding: 2px;
          padding-left: 5px;
          border-radius: 5px;
          background-color: white;

          input {
            width: 100%;
            background-color: transparent;
            border: none;
            height: 30px;

            &:focus {
              outline: 0;
            }
          }
        }

        button {
          @include shadow-helper(2);
          display: block;
          width: 30%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 0px;
          margin-bottom: 10px;
          border-radius: 5px;
          border: none;
          font-family: 'Proxima', sans-serif;
          background-color: $teal-500;
          color: white;
          outline: 0;

          &:hover {
            @include shadow-helper(3);
          }
        }
    }
}
