/** {*/
    /*border: 1px solid black;*/
/*}*/

.header {
    width: 100%;
    height: 50px;
    background-color: #ecf0f1;
    border-bottom: 4px solid #bdc3c7;

    a {

        &:link, &:visited, &:hover, &:active {
            text-decoration: none;
            color: #7f8c8d
        }

        &:hover {
            color: #3498db;
        }

        span {
            margin-left: 8px;
            line-height: 50px;
        }

        .title-div {
            display: inline;
            height: 100%;
            font-family: 'Chivo', sans-serif;
            margin-left: 5px;
            line-height: 50px;

            @media screen and (max-width: 420px) {
                display: none;
            }
        }

    }
}
